#marquee {
  width: 100%;
  overflow: hidden;
}

#marquee-content {
  display: flex;
  gap: 35px;
  width: max-content;
  animation: marqueeRight 20s linear infinite;
}

#marquee-content:hover {
  animation-play-state: paused;
}

@keyframes marqueeRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

